@font-face {
  font-family: shabnam;
  src: url('@/assets/fonts/Shabnam.ttf');
}

html {
  font-size: 16px;
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-family: shabnam;
}
